<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="function.js"></script>
</body>
<div class="wave container">
    <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">© <%= new Date().getFullYear() %> Adam Bishop</p>
    </footer>
</div>
</html>