/* body {
    background-color: #EC911C;
    color: #1D4265 !important;
    background-image: -webkit-linear-gradient(65deg, #EC911C 50%, #ffea74 50%);
    min-height: 1000px !important;
} */

body {
    margin: auto;
    overflow: auto;
    background: #F6635C;
    background-size: 400% 400%;
    background-attachment: fixed;
}

h1 {
    color: #FFBA86;
}

h2 {
    color: #F6635C;
}

.wave {
    background: rgb(194 51 115 / 33%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 20em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -3.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -5.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.nav-link {
    font-size: 24px;
    color: #FFBA86;
}

.nav-link:hover {
    color: #C23373;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.completed {
    text-decoration: line-through;
}

.active {
    color: #79155B !important;
}

/* .modal-content {
} */

.modal-title {
    color: #dc3545;
    font-size: 24px;
}

.centered-container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px; /* optional: to give some space from the top */
}

.list {
    width: 500px;
    background-color: #FFBA86;
    min-height: 300px;
    position: relative;
    border-radius: 10px;
}

.container.list-items {
    margin-bottom: 75px;
}

.todo-item {
    padding: 20px;
    border-bottom: 1px solid #1D4265;
    font-size: 20px;
    max-height: 60px;
    display: flex;
    align-items: center; /* This vertically aligns all child items in the middle. */    
}

.btn-close {
    margin-left: auto; /* This will push the button to the far right of the .todo-item div */
}

/* div.list-items {
    margin-bottom: 75px;
} */

.container.position-absolute {
    left: 50%;  /* center the container */
    transform: translateX(-50%);  /* adjust for its own width to truly center it */
    bottom: 25px !important;  /* adjust distance from bottom as needed */
    display: flex;
    align-items: center;
    gap: 5px; /* for spacing between input and button, adjust as needed */
}

#todo-input {
    height: 50px;
    font-size: 20px;
    border: none;
}

#add-todo {
    height: 50px;
    font-size: 1.75rem;
    border-radius: 25%;
    padding: .10rem 1rem .5rem 1rem; /* Adjust padding if needed */
}

.add-list {
    height: 40px;
    width: 300px !important;
}

input.add-list, button.add-list {
    height: 100%;
}

.custom-button {
    font-size: 1.5rem;
    line-height: 0;
    padding: 0.25rem .5rem .5rem .5rem; /* Adjust padding if needed */
}

.invalid-feedback {
    margin-left: 1.25rem;
    color: #79155B;
}

.show {
    display: block !important;
}
